@import "variables/main.less";

// files manager wrapper
div#files-manager-wrapper {
    div#directories-tree-wrapper {
        background-color: @directories-tree-wrapper-background-color;
        padding: @directories-tree-wrapper-padding;
        margin-bottom: @directories-tree-wrapper-margin-bottom;
        overflow: hidden;
    }

    div#action-wrapper {
        margin-bottom:@action-wrapper-margin-bottom;
        padding: 0;
    }
}

// preview images
div#preview-images {
    div#preview-image {
        background-position: center center;
        background-repeat:no-repeat;
        display:block;
        width:100%;
        height:100%;
    }
}