@import "variables/administration.less";

// pages wrapper
div#pages-wrapper {
    div#pages-tree-wrapper {
        background-color: @pages-tree-wrapper-background-color;
        padding: @pages-tree-wrapper-padding;
        overflow: auto;
    }
}