config/autoload/local.php
config/autoload/*.local.php
config/modules/custom.php
data/cache/*
data/sessions/*
!data/cache/.htaccess
!data/sessions/.htaccess
srosta.komodoproject
.komodotools/*
module/Example/*
*~
public/layouts_cache/css/*
!public/layouts_cache/css/.htaccess
public/layouts_cache/js/*
!public/layouts_cache/js/.htaccess
public/captcha/*
public/resources/users/*
public/resources/users/thumbnails/*
!public/resources/users/thumbnails/.htaccess
!public/resources/users/.htaccess
