input[type="radio"],
input[type="checkbox"] {
  margin-right: 0;
  margin-left: 4px;
}
form div.preview-file-wrapper input[type="checkbox"],
form div.preview-image-wrapper input[type="checkbox"] {
  float: right;
  margin: 4px 0 0 5px;
}
table.table td.action {
  text-align: left;
}
