@import url("common.css");

div.navbar {
    margin:0;
    z-index: 50;
}

div.navbar li.dropdown-header{
    white-space:nowrap;
}

div.navbar a.current-language{
    text-transform:capitalize;
}

div.page-header {
    margin-bottom: 20px;
    margin-top: 0;
    margin-top: 70px;
}

