@import "common.rtl.css";
div#logo-wrapper div#logo-image h1 {
  margin: 0;
}
div#logo-wrapper div#logo-image h1 img {
  margin-left: 0;
  margin-right: 20px;
}
div#logo-wrapper div#logo-actions {
  text-align: left;
}
div#logo-wrapper div#logo-actions div.btn-group {
  margin-right: 0;
  margin-left: 20px;
}
footer .links ul {
  padding-right: 0px;
}
