@import url("common.css");

div#shopping-cart-wrapper {
    float: left;
}

div#shopping-cart-wrapper div#shopping-cart-info {
    float:left;
    margin-right: 50px;
}

div#shopping-cart-wrapper div#shopping-cart-currencies {
    float:left;
}

div#shopping-cart-price-wrapper {
    text-align: left;
}