div#files-manager-wrapper div#directories-tree-wrapper {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
div#files-manager-wrapper div#action-wrapper {
  margin-bottom: 10px;
  padding: 0;
}
div#preview-images div#preview-image {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
